@import "../../global.scss";

.navbar {
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 2;
  transition: all 2s ease;

  a {
    color: white;
    text-decoration: none;
  }

  .wrapper {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: flex;
    align-items: center;

    #phone {
      font-size: 25px;
      margin-right: 10px;
    }
    .logo {
      font-size: 35px;
      font-weight: 700;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-right: 40px;

      @include mobile {
        font-size: 25px;
      }
    }
    .itemContainer {
      display: flex;
      align-items: center;
      margin-left: 30px;

      @include mobile {
        display: none;
      }
    }
    .envelope {
      font-size: px;
      margin-right: 30px;
    }
    #phone-number {
      font-size: 25px;
      margin-left: 25px;
      margin-right: 30px;
    }
    #email-address {
      font-size: 25px;
      margin-left: 14px;
      margin-right: 30px;
    }
  }

  .right {
    .hamburger {
      width: 32px;
      height: 25px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;

      span {
        width: 100%;
        height: 3px;
        background-color: white;
        transform-origin: left;
        transition: all 2s ease;
      }
    }
  }

  &.active {
    background-color: rgb(65, 65, 65);
    color: white;
    transition: all 2s ease;

    .hamburger {
      span {
        &:first-child {
          background-color: white;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          transform: translate(32px);
          opacity: 0;
        }
        &:last-child {
          background-color: white;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
